
:root {

    --primary-color: black;
    --white-color: white;
    --gap: 3rem;
    --form_normal: 1000px;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Funnel Sans", sans-serif; 
    background-image: url('../img/pngtree-white-acrylic-brush-background-image_320177.jpg'); 
    background-position: center;
    overflow-x: hidden;
}


h1, h2, h3 {
    font-family: "Limelight", sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.menu {
    background: black;
    position: fixed;
    display: flex;
    justify-content:space-between;
    top: 0;
    height: 100px;
    width: 100vw;
    align-items: center;
    z-index: 1000;

}

.titulo {
    display:flex;
    justify-content: center;
}



.section {
 min-height: 100vh;
}

.menu-content {
    width: 100vw;
    
}

.menu-header {
    margin-left: 20px;
    margin-top: 7px;
}

.menu-header h3 {
    color: white;
}

.menu ul {
    list-style: none;
    display: flex;
}


.link-content {
    display: flex;           
    align-items: center;     
    gap: 12px;               
    padding: 15px 25px;    
}

.link-icon {
    width: 24px;             /* Tamanho controlado */
    height: 24px;
    object-fit: contain;     /* Mostra imagem inteira */      /* Fica branco no fundo preto */
    flex-shrink: 0;          /* Não deixa encolher */
}

/* Estilo do texto */
.link-text {
    font-size: 22px;
    color: white;
    white-space: nowrap;     /* Não quebra linha */
}

.menu ul li a {
    display: block;
    padding: 30px;
    font-size: 25px;
    color: white;
    transition: all 0.4s linear;
    text-decoration: none;
}


.menu ul li a:hover{
  background-color: gray; /* Adicionei um fundo no hover para contraste */
  transform: translateY(-3px); /* Efeito sutil de elevação */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.menu ul li a:hover .normal-text {
    display: none;
}

.menu ul li a:hover .hover-text {
    display: inline-block;
}


.spacement {
    height: 100px;
}

.intro {

    position: relative;
    display: flex;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.prgrf {
    width: 100%;
    height: 100%;
    margin-left: 230px;
    margin-top: 15px;


}

.prgrf p {

    font-size: 30px;
}

.space {
    width: 650px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.intro_content {


    position: relative;
    top: -80px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap; 
}

.ocult {

    display: none;
}






.button {
   padding: 12px 24px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap; 
    margin: 10px;
}


.button_ocult {
     display: none;
     background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap; 
    margin: 10px;
}

.intro_content h2 {
    max-width: 600px;
    margin-left: 50px;

}

.intro_content p {
    margin: 0;
    max-width: 500px;
    font-size: 1rem;
}



.first_images {
    margin-top: 325px;
    margin-right: 100px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;

}

.image {
    width: 100%;
    height: 225px;
    overflow: visible;
    background-position: initial;
    margin-right: 50px;
    margin-bottom: 100px;
}

.image img {
     background-position: initial;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}


.second_form {

    width: 100vw;
    min-height: 850px;
    z-index: 2;
    background-image: url('../img/webdesign.jpg') !important;
    background-position: center;
    background-size: cover;
    
}

.content_second {
    text-align: center;
    color: white;
}

.content_three {
    margin-top: 50px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
}

.three_form {
    width: 100vw;
    min-height: 1000px;
}

.title {
    display: flex;
    justify-content: center;
}

.title h3 {
    color: black;
}

.block {
    height: 1000px;
     padding: 25px;
}

.title h2, p {
    display: block;
}

.types {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.para {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 55px;
}



.block_relative {
    display: relative;
    margin-top: 50px;

    
    display: flex;
    justify-content: center;
    text-align: center;
}


/* ========== GRID LADO A LADO ========== */
/* ========== GRID LADO A LADO ========== */
.grid_photos {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
     grid-template-rows: 1fr;
    height: 500px;
    flex-direction: row;
    gap: 12px;
    height: 600px;

}

.image2 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image3 {
    grid-column: 2; /* Segunda coluna */
    grid-row: 1; /* MESMA LINHA que a imagem grande */
    display: grid;
    grid-template-rows: 1fr 1fr; /* Duas linhas internas */
    gap: 10px;
    height: 100%;
}

.image3 img {
    width: 100%;
    height: 100%; /* Cada imagem ocupa 50% da altura */
    object-fit: cover;
    border-radius: 8px;

} 

.grid_photos2 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
     grid-template-rows: 1fr;
    height: 500px;
    flex-direction: row;
    gap: 12px;
    height: 600px;

}

.image4 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.image4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}



.image5 {
    grid-column: 2;
    grid-row: 1;
}

.image5 img {
     width: 100%;
    height: 100%; /* Cada imagem ocupa 50% da altura */
    object-fit: cover;
    border-radius: 8px;
}


.grid_photos3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 500px;
    flex-direction: row;
    gap: 12px;
    height: 600px;

}

.image6 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.image6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image7 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

.image7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.contact {
}

.names {
}




@media (max-width: 1492px) {

    .intro {
        width: 100vw;
    }

    .intro_content { 
        margin-left: 70px;
        max-width: 500px;
    }

    .intro_content p {
        margin-left: 50px;

    }

    .first_images {
        margin-left: 150px;
    }

    .image {
        margin-top: 50px;
    }



}

@media (max-width: 500px){

    .intro {
        width: 100vw;
    }


    .titulo {
        margin-left: -176px;
        height: 120px;
    }

    .titulo h2 {
        width: 300px;
       height: 120px;
    }

    .space {
        margin-top: 80px;
    }

    .ocult {
        margin-top: 20px;
        margin-right: 100px;
        width: 100vw;
    }
    .ocult p {
        width: 100vw;
        margin-right: 600px;

    }

    body {
        width: 100vw;
        box-sizing: border-box;
    }

    title {
        width: 100%;
    }

    h3 {
        font-size: 2.4rem;
        width: 100%;
    }

    h2 {
        font-size: 2.5rem;
    }
}
@media (max-width: 684px) {

    .intro {
        width: 100vw;
    }

    .menu {
        width: 100%;
    }

    .prgrf {
        display: none;
    }

    .intro_content h2 {
        font-size: 2.5rem;
    }
    
    .first_images {
        display: none;
    }

    body * {

        max-width: 100vw !important;
        box-sizing: border-box;
    }


    .button {
        display: none;
    }

    .button_occult, .ocult {
        display: flex;
    }

    .ocult {
        width: 100%;
        display: block;
    }
}
@media (max-width: 1190px) {
    
    .buttons {
        display: none;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
    }

    body * {

        max-width: 100vw !important;
        box-sizing: border-box;
    }

}

@media (max-width: 1082px) {
    .types {
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        display: none;
    }

   body * {

        max-width: 100vw !important;
        box-sizing: border-box;
    }
}
@media (max-width: 825px) {

    .types {
        grid-template-columns: 1fr;
    }

    body {
        box-sizing: border-box;
    }
}













