
:root {

    --primary-color: black;
    --white-color: white;
    --gap: 3rem;
    --form_normal: 1000px;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Funnel Sans", sans-serif; 
    background-image: url('../img/pngtree-white-acrylic-brush-background-image_320177.jpg'); 
    background-position: center;
}

h1, h2, h3 {
    font-family: "Limelight", sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 25px;
}

.menu {
    background: black;
    position: fixed;
    display: flex;
    justify-content:space-between;
    top: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    z-index: 1000;

}


.section {
min-height: 100vh;
}

.menu-content {
    width: 100%;
    
}

.menu-header h1 {
    color: white;
}

.menu ul {
    list-style: none;
    display: flex
}

.menu ul li a {
    display: block;
    padding: 30px;
    font-size: 25px;
    color: white;
    transition: all 0.4s linear;
    text-decoration: none;
}



.menu ul li a:hover{
  background-color: gray; /* Adicionei um fundo no hover para contraste */
  transform: translateY(-3px); /* Efeito sutil de elevação */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.menu ul li a:hover .normal-text {
    display: none;
}

.menu ul li a:hover .hover-text {
    display: inline-block;
}


.spacement {
    height: 100px;
}

.intro {

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.intro_content {


    position: relative;
    top: -80px;
    margin-left: -180px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.intro_content h2 {
    max-width: 600px;
    margin-left: 50px;

}

.intro_content p {
    margin-top: 20px;
    max-width: 500px;
    font-size: 1rem;
}

@media (max-width: 1492px) {


    .intro_content { 
        margin-left: 70px;
        max-width: 500px;
    }

    .intro_content p {
        margin-left: 50px;

    }

}

.first_images {
    margin-top: 270px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}

.image {
    width: 100%;
    height: 500px;
    overflow: visible;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}


.second_form {

    min-height: 660px;
    z-index: 2;
    background-image: url('../img/webdesign.jpg') !important;
    background-position: center;
    background-size: cover;
    
}

.content_second {
    text-align: center;
    color: white;
}

.content_three {
    display: flex;
    justify-content: center;
}

.three_form {
    min-height: 1000px;
}

.title {
    display: flex;
    justify-content: center;
}

.types {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.paisagens {
    display: grid;

}














